.card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
  width: 200px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  margin: 7px;
  &__image-container{
    width: 100%;
    height:94px;
    padding: 10px;
    box-sizing: border-box;
    & .card__number-gen{
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      font-weight: 600;
      & .card__number, & .card__gen{
        background-color: $white;
        border-radius: 50px;
        padding: 4px 6px;
      }
    }
    & .poke-image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & img{
        width: 100px;
        height: 100px;
        margin-top: -17px;
      }
      & h2{
        margin: initial;
       font-size: 15px;
      }
    } 
  }
}
.card__type{
  display: flex;
  font-size: 11px;
  color:$textGeneral;
  margin-top: 10px;
  & .card__type1, & .card__type2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .card__type-icon{
    width:20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    & img{
      margin: initial;
      height: 12px;
      width: 12px;
    }
  }
  & span{
    padding: 0 5px;
  }
}
.card__abilities{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  min-height: 40px;
  & .label{
    @include font-small-bold;  
  }
  & .abilitie{
    @include font-small;
    display: flex;
    align-items: center;
    max-width: 180px;  
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 30px;
    min-height: auto;
    overflow: auto;
  }
}
.card__experience{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 7px;
  & .label{
    @include font-small-bold;  
  }
  & .experience{
    @include font-small;
    margin-left: 10px;
    max-width: 70px;  
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.card__progress{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  & .label{
    @include font-small-bold;  
  }
  & .experience{
    @include font-small;
  }
  & .poke-progress{
    width:100%;
    border-radius: 50px;
    margin-left: 10px;
    & .progress{
      width: 100%;
      height: 8px;
      border-radius: 20px;
    }
  }
}