.poke-button{
    @include Row;
    @include fontNormal;
    width: auto;
    height: 40px;
    padding: 15px;
    background-color: var(--colorWhite);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 12, 78, 0.288);
    outline: none;
    filter: saturate(0);
    border: 2px solid transparent;
    transition: all .3s;
    &:hover{
        cursor: pointer;
        color: var(--secondary);
        filter: saturate(1);
        border: $borderGeneral;
        box-shadow: 1px 1px 10px rgba(0, 12, 78, 0.466);
    }
    &:active{
        box-shadow: 0px 0px 3px rgba(0, 12, 78, 0.288);
    }
    & img{
        width: auto;
        height: 25px;
        margin-right: 10px;
    }
}

.button-active{
    cursor: pointer;
    color: var(--secondary);
    filter: saturate(1);
    border: 2px solid var(--primary);
    box-shadow: 1px 1px 10px rgba(0, 12, 78, 0.288);
}

.MuiTooltip-tooltip{
    border-radius: 10px;
    background-color:  var(--colorWhite) !important;
    color: $secondary !important;
    padding: initial !important;
    box-shadow: 0px 0px 3px var(--primary);
    // border: $borderGeneral;
    // border-style: inset;
    box-sizing: border-box !important;
    line-height: 3em !important;
    letter-spacing: 1px;
    &:before {
        content: ' ';
        width: 10px;
        float: right;
        height: 5px;
  }
    &:after {
        content: ' ';
        width: 10px;
        float: left;
        height: 5px;
  }
}