.menu{
    // height: 100%;
    &.extended{
        width: 280px;
        border: $borderGeneral;
        height: calc(100vh - 60px);
        box-shadow: 0px 10px 10px rgba(0, 12, 78, 0.288);
        padding: 10px;
        
    }
}