@import "./variables.scss";

//displays

@mixin Row {
  display: flex;
  align-items: center;
  justify-content: center;
}

// fonts

@mixin fontNormal {
  color: var(--textGeneral);
  font-size: 15px;
  font-weight: 400;
}

@mixin fontSmall {
  color: var(--textGeneral);
  font-size: 11px;
  font-weight: 400;
}

@mixin fontTitle {
  color: $secondary;
  font-size: 15px;
  font-weight: 600;
}

@mixin font-small {
  font-size: 11px;
  color: $textGeneral;
}

@mixin font-small-semibold {
  @include font-small;
  font-weight: 600;
}

@mixin font-small-bold {
  @include font-small;
  font-weight: 700;
}

@import "../components/CardMain/cardMain.scss";
@import "../components/Button/button.scss";
@import "../components/Navbar/navbar.scss";
@import "../components/Menu/menu.scss";
@import "../components/PokeFind/pokeFind.scss";
@import "../components/Filter/filter.scss";
@import "../components/CheckBoxType/checkBoxType.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.poke-cards{
    & .content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        & .cards__container-main{
          max-height: calc(100vh - 60px);
          overflow: auto;
          width: 100%;
          height: calc(100vh - 60px);
        }
        & .cards__container{
            display: flex;
            flex-wrap: wrap;
           
            & .card{
                margin:5px;   
            }
        }
    }
}

