
@import './variables.scss';

//displays

@mixin Row {
    display: flex;
    align-items: center;
    justify-content: center;
}

// fonts

@mixin fontNormal {
    color: var(--textGeneral);
    font-size: 15px;
    font-weight: 400;
}

@mixin fontSmall {
    color: var(--textGeneral);
    font-size: 11px;
    font-weight: 400;
}

@mixin fontTitle {
    color: $secondary;
    font-size: 15px;
    font-weight: 600;
}



@import '../components/Button/button.scss';
@import '../components/Navbar/navbar.scss';
@import '../components/Menu/menu.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}