.checkbox-type  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-type input {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}
.checkbox-type input:hover + .checkbox-type__cont{
    opacity: .4;
}

.checkbox-type__cont{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--textGeneral);
    transition: all .3s;
}
.checkbox-type img {
    position: absolute;
}
