header {
    & nav {
        position: sticky;
        top: 0;
        z-index: 1;
        @include Row;
        justify-content: space-between;
        height: 60px;
        padding: 0 20px;
        box-shadow: 0px 0px 10px rgba(0, 12, 78, 0.288);
        & img {
            transition: all 0.3s;
            &:hover {
                transition: all 0.3s;
                opacity: 0.7;
            }
            &:active {
                transition: all 0.3s;
                opacity: 1;
            }
        }
        & ul {
            @include Row;
            list-style: none;
            & li {
                border-bottom: 2px solid transparent;
                box-sizing: border-box;
                min-width: auto;
                @include fontTitle;
                @include Row;
                color: $secondary;
                transition: all 0.3s;
                &:hover {
                    border-bottom: $borderGeneral;
                    color: $primary;
                }
                & a {
                    text-decoration: none;
                    transition: all 0.3s;
                    height: 60px;
                    @include Row;
                     padding: 10px;
                     margin: 0 10px;
                }
                & a:link {
                    color: $secondary;
                }
                & a:visited {
                    color: $secondary;
                }
                & a:hover {
                    color: $primary;
                }
            }
          
        }
    }
}
