@import '../css//variables.scss';

.Lookema {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/balls2.png);
  background-attachment: fixed;
  background-position: center;
  display: table;
  .center {
    display: table-cell;
    vertical-align: middle;
    .Lookema__content {
      // margin-top: 7%;
      display: flex;
      justify-content: center;
      img {
        width: 60%;
      }
    }
    .Lookema__button {
      display: flex;
      justify-content: center;
      .color {
        background-color: white;
        color: $secondary;
        border: 2px solid $primary;
        border-radius: 10px;
      }
    }
  }
}