.button {
  .button-1 {
   background-color: red;
  } 
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.table td {
  padding-tom: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253A46;
  padding: 20px;
  font-size: 20px; 
}

#menu a {
  color: white;
  padding-right: 50px;
}