$primary: #ffcb05;
$secondary: #3567b0;
$textGeneral: #b1b1b1;
$white: #ffffff;

// Colors types
$colorBug: #92bc2c;
$colorDark: #595761;
$colorDragon: #0c69c8;
$colorElectric: #edd53e;
$colorFairy: #ec8ce5;
$colorFight: #ce4265;
$colorFire: #fb9b51;
$colorFlying: #90a7da;
$colorGhost: #516aac;
$colorGrass: #5fbc51;
$colorGround: #dc7545;
$colorIce: #70ccbd;
$colorNormal: #9298a4;
$colorPoison: #a864c7;
$colorPsychic: #f66f71;
$colorRock: #c5b489;
$colorSteel: #52869d;
$colorWater: #4a90dd;

//gradients types

$gradientBug: linear-gradient(#92bc2c, #afc836);
$gradientDark: linear-gradient(#595761, #6e7587);
$gradientDragon: linear-gradient(#0c69c8, #0180c7);
$gradientElectric: linear-gradient(#edd53e, #fbe273);
$gradientFairy: linear-gradient(#ec8ce5, #f3a7e7);
$gradientFight: linear-gradient(#ce4265, #e74347);
$gradientFire: linear-gradient(#fb9b51, #fbae46);
$gradientFlying: linear-gradient(#90a7da, #a6c2f2);
$gradientGhost: linear-gradient(#516aac, #7773d4);
$gradientGrass: linear-gradient(#5fbc51, #5ac178);
$gradientGround: linear-gradient(#dc7545, #d29463);
$gradientIce: linear-gradient(#70ccbd, #8cddd4);
$gradientNormal: linear-gradient(#9298a4, #a3a49e);
$gradientPoison: linear-gradient(#a864c7, #c261d4);
$gradientPsychic: linear-gradient(#f66f71, #fe9f92);
$gradientRock: linear-gradient(#c5b489, #d7cd90);
$gradientSteel: linear-gradient(#52869d, #58a6aa);
$gradientWater: linear-gradient(#4a90dd, #6cbde4);

:root {
    --primary: #ffcb05;
    --secondary: #3567b0;
    --textGeneral: #b1b1b1;
    --grayGeneral: #dadada;
    --colorWhite: #ffffff;

    // Colors types

    --colorBug: #92bc2c;
    --colorDark: #595761;
    --colorDragon: #0c69c8;
    --colorElectric: #edd53e;
    --colorFairy: #ec8ce5;
    --colorFight: #ce4265;
    --colorFire: #fb9b51;
    --colorFlying: #90a7da;
    --colorGhost: #516aac;
    --colorGrass: #5fbc51;
    --colorGround: #dc7545;
    --colorIce: #70ccbd;
    --colorNormal: #9298a4;
    --colorPoison: #a864c7;
    --colorPsychic: #f66f71;
    --colorRock: #c5b489;
    --colorSteel: #52869d;
    --colorWater: #4a90dd;

    //gradients types

    --gradientBug: linear-gradient(#92bc2c, #afc836);
    --gradientDark: linear-gradient(#595761, #6e7587);
    --gradientDragon: linear-gradient(#0c69c8, #0180c7);
    --gradientElectric: linear-gradient(#edd53e, #fbe273);
    --gradientFairy: linear-gradient(#ec8ce5, #f3a7e7);
    --gradientFight: linear-gradient(#ce4265, #e74347);
    --gradientFire: linear-gradient(#fb9b51, #fbae46);
    --gradientFlying: linear-gradient(#90a7da, #a6c2f2);
    --gradientGhost: linear-gradient(#516aac, #7773d4);
    --gradientGrass: linear-gradient(#5fbc51, #5ac178);
    --gradientGround: linear-gradient(#dc7545, #d29463);
    --gradientIce: linear-gradient(#70ccbd, #8cddd4);
    --gradientNormal: linear-gradient(#9298a4, #a3a49e);
    --gradientPoison: linear-gradient(#a864c7, #c261d4);
    --gradientPsychic: linear-gradient(#f66f71, #fe9f92);
    --gradientRock: linear-gradient(#c5b489, #d7cd90);
    --gradientSteel: linear-gradient(#52869d, #58a6aa);
    --gradientWater: linear-gradient(#4a90dd, #6cbde4);
}
